a {
    color: #008cba !important;
}

a:hover {
    cursor: pointer;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #222;
    border-collapse: collapse;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.table-primary,
.table-primary>th,
.table-primary>td {
    background-color: #008cba;
    color: white;
}

.table th,
.table td {
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

th {
    text-align: inherit;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hoverTable tr:hover {
    background-color: whitesmoke;
}