<nav name="" class="navbar forTheme navbar-expand-lg navbar-dark bg-primary mb-5">
    <a class="navbar-brand forTheme" [routerLink]="['/']">Books Sharing App</a>
    <div class="menubar">
        <div *ngIf="isAuthenticated; then doSomething; else doSomethingElse;"></div>
        <ng-template #doSomething>
            <button class="btn forTheme btn-primary" (click)="logOut()">Log out</button>
        </ng-template>
        <ng-template #doSomethingElse>
            <a [routerLink]="['/log-in']" class="btn forTheme btn-primary">Log in</a>
            <a [routerLink]="['/sign-up']" class="btn forTheme btn-primary">Sign up</a>
        </ng-template>
        Change Theme: <input type="checkbox" id="theme" (click)="changeTheme()">
    </div>
</nav>